@page "/Management"

<h3>Management</h3>


    <li class="nav-item">
    <NavLink class="nav-link" href="/CampaignManagement">Campaign Management</NavLink>
    </li>

    <li class="nav-item">
    <NavLink class="nav-link" href="/CourseManagement">Course Management</NavLink>
    </li>

    <li class="nav-item">
    <NavLink class="nav-link" href="/UserManagement">User Management</NavLink>
    </li>
  
