@page "/ManagementMenu/"

<h3>Management</h3>


<ul class="management-3d-bar">
    <li>
        <NavLink href="/Management/Campaign" class="management-btn-link">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Campaign Management</span>
        </NavLink>
    </li>
    <li>
        <NavLink href="/Management/Course" class="management-btn-link">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Course Management</span>
        </NavLink>
    </li>
    <li>
        <NavLink href="/Management/User" class="management-btn-link">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>User Management</span>
        </NavLink>
    </li>
    <li>
        <NavLink href="/Management/Blog" class="management-btn-link">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Blog Management</span>
        </NavLink>
    </li>
</ul>

  
